body{
	font-family: Montserrat;
}

p {
	margin-bottom:1px;
	margin-left:7px;
	margin-top:1px;
} 

.function{ 
	background-color: #48D1CC;
}

.title{
	text-shadow: 1px 1px 1px gray;
}

.login{
	background-color: #FFFFFF;
	width: 270px;
	height: 170px;
}

.iniciar{
	color: #505050;
}

.admin{
	text-shadow: 1px 1px 2px gray;
}

.pic_sentence{
	text-shadow: 1px 1px gray;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #0A176B;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}